body{
    background-color: $base-blue;
    .header{
      background-color: $base-accent;
    }
    .title{
      width: 1170px;
      padding: 0 15px;
      text-align: center;
      margin: auto;
      padding-bottom: 40px;
      h1{
        margin: 0;
        padding-top: 40px;
      }
    }
    h1{
        font-size: $h1;
        font-weight: $bold;
        font-family: $text-headings;
        color: $base-contrast;
        font-style: italic;
    }
    h2{
      font-size: $h2;
      font-weight: $bold;
      font-family: $text-headings;
      color: $base-contrast;
    }
    p{
      font-size: $p;
      font-weight: $regular;
      font-family: $text-body;
      color: $base-contrast;
    }
    .users-container{
      width: 1170px;
      padding: 0 15px;
      margin: auto;
      margin-bottom: 30px;
      .users-wrapper{
        padding: 15px 0;
        .user{
          margin: 15px 0;
          display:flex;
          align-items: center;
          .image-wrapper{
            margin-right: 30px;
            img{
              height: 80px;
              width: auto;
            }
          }
        }
      }
    }
    .form-container{
      width: 1170px;
      margin: auto;
      .form-field{
        display: block;
        margin-bottom: 30px;
        color: $base-contrast;
        label{
          display:block;
          font-family: $text-body;
        }
        .choose-avatar-list{
          list-style-type: none;
          display: block;
          margin-bottom: 30px;
          padding-left: 0;
          width: 600px;
          li{
            display: flex;
            float: left;
            padding-right: 30px;
            width: 25%;
            flex-wrap: wrap;
            box-sizing: border-box;
            justify-content: center;
            img{
              display: block;
              height: 125px;
              width: 100%;
              margin-bottom: 15px;
              cursor: pointer;
              border-radius: 50%;
              border: 8px solid transparent;
              transition: all ease-in-out 300ms;
            }
            input{
              visibility: hidden;
            }
            &.selected{
              img{
                border: 8px solid $base-accent;
              }
            }
          }
          &:after{
            display: block;
            width: 100%;
            clear: both;
            content: "";
          }
        }
      }
      .form-field label input{
        display: block;
        padding-top: 5px;
      }
    }
    .intro-container{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .intro-wrapper{
        .start-button-container{
          margin-top: 30px;
          text-align: center;
          .add-players-button{
            color: $base-blue;
            background-color: $base-contrast;
            padding: 15px 25px;
            border-radius: 8px;
            text-transform: uppercase;
            font-family: $text-headings;
            font-size: $h4;
            font-weight: $bold;

          }
        }
      }
    }
}