//colors
$base-blue: #1a2b45;
$base-accent: #415e89;
$base-contrast: #a6b0bf;
$alt-base: #282949;

//font families
$text-headings: 'Arvo', serif;
$text-body: 'Open Sans', sans-serif;

//font sizes
$h1: 48px;
$h2: 36px;
$h3: 32px;
$h4: 24px;
$p: 18px;

//font weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;